body{
  background-color: #1a1a1a;
}

.list--reset {
margin: 0;
padding: 0;
list-style: none;
}
.navigation__item {
float: left;
}
.navigation__link {
color:white;
background: #1a1a1a;
display: inline-block;
padding: 0.5em;
font-family: 'Lato', sans-serif;
font-weight: 100;
border: white 1px;
}
.intro__title{
color: red;
font-family: 'Lato', sans-serif;
left: 500px;
position: absolute;
top: 250px;
font-size: 60px;
}

.intro__text{
  color: red;
  font-family: 'Lato', sans-serif;
  left: 420px;
  position: absolute;
  top: 320px;
  font-size: 30px;
}
